<%# app/views/profiles/edit.html.erb %>

<h1>Edit Your Profile</h1>



<table class="table">
  <%= form_for @user.profile, url: update_profile_path, method: :patch do |f| %>
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, class: "form-control" %></td>
    </tr>

    <!-- Other form fields for editing profile attributes -->

    <tr>
      <td colspan="2">
        <%= f.submit "Update Profile", class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>
