<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.kk-alpha.com/common/img/logo_alpha01.png" %>
    <% end %>

    <%# toggles user name and settings button into dropdown in screen is too small %>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->



    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item justify-text collapse navbar-collapse">
            <h4 class="">
              <%=  "#{current_user.profile&.first_name || 'N/A'} #{current_user.profile&.last_name || 'N/A'}" %>
            </h4>
          </li>
          <li class="nav-item dropdown justify-text ">
            <div>
              <button class="m-2" id="navbarDropdown" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21 16L21 18L3 18L3 16L21 16ZM21 11L3 11L3 13L21 13L21 11ZM21 6L3 6L3 8L21 8L21 6Z" fill="black"/>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end dropdown-content" aria-labelledby="navbarDropdown">

                <%= link_to t('edit_my_info'), edit_profile_path, class: "dropdown-item" %>

                <%= link_to url_for(locale: I18n.locale == :ja ? 'en' : 'ja'), method: :post, class: "dropdown-item language-toggle" do %>
                  <%= t('toggle_language') %>
                <% end %>

                <%= link_to t('edit_password_path'), edit_user_registration_path, class: "dropdown-item" %>

                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
