

<% if user_signed_in? %>
<div class="container">
  <div>
    <h1><%="#{current_user.department.name}"%></h1>
    <%= link_to "Edit My Information", edit_profile_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>SNS Information</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.profile&.first_name + " " + user.profile&.last_name|| '', profile_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= link_to "#{user.profile.address || ''}", "https://www.google.com/maps/search/?api=1&query=#{user.profile.address || ''}", target: '_blank' %>
</td>
          <td><%= user.profile&.phone_number || '' %></td>
          <td><%= user.profile&.sns_information || '' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% else %>

<div class="container">
  <h1>Home</h1>
  <p>Sign in to see the list of users</p>
</div>
<% end %>
