
<% if user_signed_in? %>

<div class="container ">
  <div>
    <h1 class="page-header"><%="#{current_user.department.name}"%></h1>

    <% if current_user.profile.last_name == ""%>
      <h4><%= t('welcome_message.welcome') %></h4>
      <div>
        <%= t('welcome_message.please')%>
      </div>
      <br>
      <div>
        <%= link_to t('edit_my_info'), edit_profile_path, class: "btn btn-primary" %>
      </div>
      <div class="text-muted">
        <%= t('welcome_message.later') %>
      </div>
    <% end %>
  </div>


<%# desktop table" %>

  <table class="table table-striped table-responsive desktop-table">
  <%= form_with(url: request.path, method: "get", local: true, data: {turbo: "false"}) do %>
    <%= label_tag :query, "Search" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
    <%= link_to "Clear", request.path, class: "btn btn-secondary" %>
  <% end %>

    <% if @users.empty? %>
      <p>No users found</p>
    <% else %>
      <thead>
        <tr>
          <th><%= t('table_headers.name') %></th>
          <th><%= t('table_headers.email') %></th>
          <th><%= t('table_headers.address') %></th>
          <th><%= t('table_headers.phone') %></th>
          <th><%= t('table_headers.sns_information') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="table-text-info">
              <div><%= link_to user.profile&.first_name.to_s + " " + user.profile&.last_name.to_s|| '', profile_path(user) %></div>
              <br>
              <div><%= user.profile.affiliation|| ''%></div>
            </td>
            <td class="table-text-info"><%= user.email %></td>
            <td class="table-text-info"><%= link_to "#{user.profile.address || ''}", "https://www.google.com/maps/search/?api=1&query=#{user.profile.address || ''}", target: '_blank' %></td>
            <td>
              <div class="phone-header fst-italic"><%= t('table_headers.phone_number')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.phone_number || '' %></div>
              <div class="phone-header fst-italic"><%= t('mobile')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.mobile || '' %></div>
              <div class="phone-header fst-italic"><%= t('company_phone')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.company_phone || '' %></div>
            </td>
            <td class="table-text-info"><%= link_to "#{user.profile.sns_information}", "https://line.me/R/ti/p/#{user.profile.sns_information}", target: '_blank' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%# mobile table" %>

  <div class="mobile-table container">

    <% @users.each do |user| %>
      <div class="mobile-card">
        <div class="mobile-card-header d-flex align-items-center">
          <div>
            <%= link_to user.profile&.first_name.to_s + " " + user.profile&.last_name.to_s|| '', profile_path(user) %>
          </div>
          <div class="fs-6 fw-light text-muted">
            <%= user.profile.affiliation || '' %>
          </div>
        </div>

        <table>
          <tbody>
            <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.email') %></th>
            <td class="table-text-info"><%= user.email %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.address') %></th>
            <td class="table-text-info"><%= link_to "#{user.profile.address || ''}", "https://www.google.com/maps/search/?api=1&query=#{user.profile.address || ''}", target: '_blank' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.phone_number') %></th>
            <td class="table-text-info"><%= user.profile&.phone_number || '' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.sns_information') %></th>
            <td class="table-text-info"><%= link_to "#{user.profile.sns_information}", "https://line.me/R/ti/p/#{user.profile.sns_information}", target: '_blank' %></td>
          </tr>
        </tbody>
      </table>
    </div>

  <% end %>
</div>


<% else %>

<div class="container">
  <h1>Home</h1>
  <p>Sign in to see the list of users</p>
</div>
<% end %>
