
<% if user_signed_in? %>

<div class="container ">
  <div>
    <h1 class="page-header"><%="#{current_user.department.name}"%></h1>

    <% if current_user.profile.last_name == nil %>
      <h4><%= t('welcome_message.welcome') %></h4>
      <div>
        <%= t('welcome_message.please')%>
      </div>
      <br>
      <div>
        <%= link_to t('edit_my_info'), edit_profile_path, class: "btn btn-primary" %>
      </div>
      <div class="text-muted">
        <%= t('welcome_message.later') %>
      </div>
    <% end %>
  </div>


<%# desktop table" %>

  <table class="table table-striped table-responsive desktop-table">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-5">
          <div class="search-bar">
            <%= form_with(url: request.path, method: "get", local: true, data: {turbo: "false"}) do %>
              <%= text_field_tag :query, params[:query] %>
              <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
                <%= link_to "Clear", root_path, class: "btn btn-secondary pl-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @users.empty? %>
      <p>No users found</p>
    <% else %>
      <thead>
        <tr>
          <th><%= t('table_headers.name') %></th>
          <th><%= t('table_headers.email') %></th>
          <th><%= t('table_headers.address') %></th>
          <th><%= t('table_headers.phone') %></th>
          <th><%= t('table_headers.sns_information') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="table-text-info">
              <div class="table-text-info desktop-card-header fs-3 text font-weight-bold"><%= user.profile&.first_name.to_s + " " + user.profile&.last_name.to_s|| ''%></div>
              <br>
              <div><%= user.profile.affiliation|| ''%></div>
            </td>
            <td class="table-text-info"><%= user.email %></td>
            <td class="table-text-info"><%= link_to "#{user.profile.address || ''}", "https://www.google.com/maps/search/?api=1&query=#{user.profile.address || ''}", target: '_blank' %></td>
            <td>
              <div class="phone-header fst-italic"><%= t('table_headers.phone_number')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.phone_number || '' %></div>
              <div class="phone-header fst-italic"><%= t('mobile')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.mobile || '' %></div>
              <div class="phone-header fst-italic"><%= t('company_phone')+':  ' %></div>
              <div class="table-text-info"><%= user.profile&.company_phone || '' %></div>
            </td>
            <td class="table-text-info"><%= link_to "#{user.profile.sns_information}", "https://line.me/R/ti/p/#{user.profile.sns_information}", target: '_blank' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%# mobile table" %>

  <div class="mobile-table container">

    <% @users.each do |user| %>
      <div class="mobile-card">
        <div class="mobile-card-header d-flex align-items-center justify-content-between">
          <div>
            <%= user.profile&.first_name.to_s + " " + user.profile&.last_name.to_s|| ''%>
            <br>
            <div class="fst-italic text-muted small"><%= user.profile.affiliation || '' %></div>
          </div>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th class="mobile-card-row-header"><%= t('table_headers.email') %></th>
              <td class="table-text-info"><%= user.email %></td>
            </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.address') %></th>
            <td class="table-text-info"><%= link_to "#{user.profile.address || ''}", "https://www.google.com/maps/search/?api=1&query=#{user.profile.address || ''}", target: '_blank' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.phone_number') %></th>
            <td class="table-text-info"><%= user.profile&.phone_number || '' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.mobile') %></th>
            <td class="table-text-info"><%= user.profile&.mobile || '' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.company_phone') %></th>
            <td class="table-text-info"><%= user.profile&.company_phone || '' %></td>
          </tr>
          <tr>
            <th class="mobile-card-row-header"><%= t('table_headers.sns_information') %></th>
            <td class="table-text-info"><%= link_to "#{user.profile.sns_information}", "https://line.me/R/ti/p/#{user.profile.sns_information}", target: '_blank' %></td>
          </tr>
        </tbody>
      </table>
    </div>

  <% end %>
</div>


<% else %>

<div class="container d-flex justify-content-center align-items-center">
  <div>
    <%= link_to t('sign_up'), new_user_registration_path, class: "btn btn-lg btn-primary m-5" %>
  </div>
</div>

<% end %>
